# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


src/test/components
src/test/scene
src/test/scene_2
src/test/scene_3
src/test/scene_4
src/test/scene_5

public/models/Bubble_feather.glb
public/models/Bubble_feather2.glb
public/models/Bubble_only.glb
public/models/feather.glb


