@import "tailwindcss";
@import "./styles/theme.css";

/* All root Styles occurs */

/* Define Font */

@font-face {
  font-family: "Lust";
  src: url("/fonts/fonnts.com-Lust-Text-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lust";
  src: url("/fonts/fonnts.com-Lust-Text-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Area Normal";
  src: url("/fonts/fonnts.com-Area_Normal_Thin.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Area Normal";
  src: url("/fonts/fonnts.com-Area_Normal_Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Area Normal";
  src: url("/fonts/fonnts.com-Area_Normal_SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Area Normal";
  src: url("/fonts/fonnts.com-Area_Normal_Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  background-color: var(--color-background);
  color: var(--color-secondary);
}

.font-lust {
  font-family: "Lust", serif;
}

.font-lust-medium {
  font-family: "Lust", serif;
  font-weight: 500;
}

.font-lust-light {
  font-family: "Lust", serif;
  font-weight: 300;
}

.font-area {
  font-family: "Area Normal", sans-serif;
}

.font-area-thin {
  font-family: "Area Normal", sans-serif;
  font-weight: 300;
}

.font-area-regular {
  font-family: "Area Normal", sans-serif;
  font-weight: 400;
}

.font-area-semibold {
  font-family: "Area Normal", sans-serif;
  font-weight: 600;
}

.font-area-bold {
  font-family: "Area Normal", sans-serif;
  font-weight: 700;
}

#root {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: "Area Normal", sans-serif !important;
  line-height: 1.6 !important;
  color: var(--color-secondary);

}

span {
  font-family: "Area Normal", sans-serif !important;
  color: var(--color-secondary);

}

button,
button * {
  font-family: "Lust", serif !important;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lust", serif !important;

}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span,
button span {
  font-family: "Lust", serif !important;
}

.pad {
  padding: 2rem;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

/* ✅ Hides scrollbar globally while maintaining scroll functionality */

/* Chrome, Safari, and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* IE, Edge, and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Optional: Apply to body as well to ensure total coverage */
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}